# Custom C++ clang-format style settings

# Sym-link to home directory for easy clang-format usage :)


# Language Config for C++

Language: Cpp

Standard: Auto

AccessModifierOffset: 0

AllowAllArgumentsOnNextLine: true

AllowAllParametersOfDeclarationOnNextLine: true

AllowBreakBeforeNoexceptSpecifier: OnlyWithParen

AllowShortBlocksOnASingleLine: Empty

AllowShortCaseLabelsOnASingleLine: false

AllowShortEnumsOnASingleLine: false

AllowShortFunctionsOnASingleLine: Empty

AllowShortIfStatementsOnASingleLine: WithoutElse

AllowShortLambdasOnASingleLine: Inline

AllowShortLoopsOnASingleLine: true

AlwaysBreakBeforeMultilineStrings: false

AlignArrayOfStructures: Right

AlignOperands: Align

AlignEscapedNewlines: Left

AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 1

AlignConsecutiveDeclarations: Consecutive

AlignConsecutiveAssignments:
    Enabled: true
    AlignCompound: true
    AlignFunctionPointers: true
    AcrossEmptyLines: false
    AcrossComments: false
    PadOperators: true

AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: false

AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: false

AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: false
    AlignCaseColons: true

BinPackArguments: true

#BinPackLongBracedList: true

BinPackParameters: BinPack

BitFieldColonSpacing: After

#BreakBeforeBraces: Allman

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: false
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true

BreakAfterAttributes: Leave

BreakAfterJavaFieldAnnotations: false

BreakArrays: false # <-- JSON-only option

BreakBeforeBinaryOperators: NonAssignment

BreakBeforeConceptDeclarations: Allowed

BreakBeforeInlineASMColon: OnlyMultiline

BreakBeforeTernaryOperators: false

BreakConstructorInitializers: AfterColon

BreakInheritanceList: AfterColon

BreakTemplateDeclarations: MultiLine

BreakStringLiterals: true

BreakAfterReturnType: ExceptShortType

ContinuationIndentWidth: 4

ConstructorInitializerIndentWidth: 4

ColumnLimit: 100

CompactNamespaces: false

Cpp11BracedListStyle: true

EmptyLineAfterAccessModifier: Never

EmptyLineBeforeAccessModifier: LogicalBlock

FixNamespaceComments: false

ForEachMacros: [RANGES_FOR, FOREACH]

IfMacros: [IF]

IndentWidth: 4

IndentAccessModifiers: false

IndentCaseBlocks: false

IndentCaseLabels: true

IndentExportBlock: false

IndentExternBlock: AfterExternBlock

IndentGotoLabels: true

IndentRequiresClause: false

IndentWrappedFunctionNames: true

InsertNewlineAtEOF: true

LambdaBodyIndentation: Signature

SkipMacroDefinitionBody: true

UseTab: Never

LineEnding: DeriveLF

MaxEmptyLinesToKeep: 1

NamespaceIndentation: All

PPIndentWidth: -1

PackConstructorInitializers: NextLineOnly

PenaltyReturnTypeOnItsOwnLine: 999999

PenaltyBreakScopeResolution: 999999

PointerAlignment: Right

ReferenceAlignment: Right

ReflowComments: Always

RemoveEmptyLinesInUnwrappedLines: true

RemoveParentheses: ReturnStatement

RequiresClausePosition: WithFollowing

ShortNamespaceLines: 2

SpaceAfterCStyleCast: false

SpaceAroundPointerQualifiers: Default

SpaceBeforeAssignmentOperators: true

SpaceBeforeCaseColon: false

SpaceBeforeCpp11BracedList: true

SpaceBeforeCtorInitializerColon: false

SpaceBeforeInheritanceColon: false

SpaceBeforeJsonColon: false

SpaceBeforeRangeBasedForLoopColon: false

SpaceBeforeSquareBrackets: false

SpacesInAngles: Never

SpacesInContainerLiterals: false

QualifierAlignment: Left

